<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
    crossorigin="anonymous" />
  <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
  <link rel="stylesheet" href="/css/style.css">
  <title>Document</title>
</head>

<body>
  <nav>
    <div class="nav-wrapper green">
      <a  style="margin-left: 50px;" href="/"><b> HOME</b></a>
      <ul id="nav-mobile" class="right" style="margin-right: 50px;">
        {{#if name}}
        <li style="font-size:large; margin-right: 30px;"> Hello, {{name}}!</li>
        <li><a href="/profile"><b>YOUR WORDS</b> </a></li>
        <li><a href="/auth/logout"><b> LOG OUT</b></a></li>
        {{else}}
        <li><a href="/auth">Login</a></li>
        
        {{/if}}
      </ul>
    </div>
  </nav>
  <div class="container">
    {{{body}}}

  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>
