<h1>main</h1>
<nav>
    <div class="nav-wrapper green">
      <form action="/search">
        <div class="input-field">
          <input id="search" name="search" type="search" required>
          <label class="label-icon" for="search"><i class="fas fa-search"></i></label>
          <i class="material-icons">close</i>
        </div>
      </form>
    </div>
  </nav>

<div class="container show"></div>

<script src="/js/application.js">
  
</script>
