<h4><i class="fas fa-user-graduate"></i>
Learn English</h4>
<div class="section">
  <p class="lead">PLEASE LOGIN or <a href="/auth/reg">
  Register
  </a></p>
</div>
{{#if msgS}}
<p class="green-text">{{msgS}}</p>
{{/if}}
{{#if msgF}}
<p class="red-text">{{msgF}}</p>
{{/if}}
<div class="section">
<form action="/auth/login" method="post">
    <div>
        <label>Username:</label>
        <input type="text" name="username" required/>
    </div>
    <div>
        <label>Password:</label>
        <input type="password" name="password" required/>
    </div>
    <div>
        <input type="submit" value="Log In"/>
        
    </div>
     
</form>

</div>
<div class="divider"></div>
<div class="section">
  <a href="/auth/google" class="btn red darken-1">
  <i class="fab fa-google left"></i>Login with google
  </a>
</div>
<div class="divider"></div>
<div class="section">
  <a href="/auth/vkontakte" class="btn blue darken-1">
  <i class="fab fa-vk left"></i>Login with VK
  </a>
</div>
<div class="divider"></div>
<div class="section">
  <a href="/" class="btn green">
  Return to Main Page
  </a> 
</div>
