<h4><i class="fas fa-user-graduate"></i>
Learn English</h4>
<div class="section">
  <p class="lead">PLEASE LOGIN</p>
</div>
<div class="divider"></div>
<div class="section">
  <a href="/auth/google" class="btn red darken-1">
  <i class="fab fa-google left"></i>Login with google
  </a>
</div>
<div class="divider"></div>
<div class="section">
  <a href="/auth/vkontakte" class="btn blue darken-1">
  <i class="fab fa-vk left"></i>Login with VK
  </a>
</div>
<div class="divider"></div>
<div class="section">
  <a href="/" class="btn green">
  Main Page
  </a>
</div>
