<h4><i class="fas fa-user-graduate"></i>
Learn English</h4>
<div class="section">
  <p class="lead">PLEASE REGISTER</p>
</div>

<div class="section">
<form action="/auth/reg" method="post">
<div>
        <label>Email</label>
        <input type="email" name="email" required/>
    </div>
    <div>
        <label>Username:</label>
        <input type="text" name="username" required/>
    </div>
    <div>
        <label>Password:</label>
        <input type="password" name="password" required/>
    </div>
    <div>
        <button type="submit">Register</button>
        
    </div>
     
</form>

</div>
